:root {
  --list-icon-size: 50px;
}

.Sidebar {
  display: flex;
  position: relative;
  padding: 15px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid black;
  background-color: var(--main-bg-sidebar); 
  overflow-x: visible;
  max-height: 100vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  z-index: 15;
}

.Sidebar::-webkit-scrollbar {
  display: none;
}

.Sidebar button {
  -webkit-appearance: none;
  width: var(--list-icon-size);
  height: var(--list-icon-size);
  border-radius: 100%;
  border: 1px solid black;
  font-size: 43px;
  line-height: 0.9;
  text-align: center;
}

.Sidebar button:hover {
  cursor: pointer;
}

.Sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.Sidebar li.selected {
  background: var(--main-button-grdnt);
}

.Sidebar li {
  position: relative;
  overflow: visible;
  width: var(--list-icon-size);
  height: var(--list-icon-size);
  background-color: #FFFFFF;
  border: 1px solid black;
  text-align: center;
  line-height: 3.1;
  padding: 0;
  margin: 15px 0;
  border-radius: 100%;
}

.Sidebar li:hover {
  cursor: pointer;
}

/* Tooltip stuff */
.tooltip {
  display: inline-block;
  visibility: hidden;
  background-color: black;
  width: 300px;
  opacity: 0.7;

  overflow-x: auto;
  overflow-y: hidden;

  color: #FFFFFF;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.Sidebar li:hover .tooltip {
  visibility: visible;
}
