.TodoList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
}

.TodoList.light {
  background-color: var(--main-bg-light);
}

.TodoList.dark {
  background-color: var(--main-bg-dark);
}

.TodoList.dark input[type="text"] {
  color: var(--dark-title-text);
}

.TodoList.dark .listDelete {
  background: var(--dark-button-bg-color);
}

.SubmissionBox.dark input[type="text"] {
  background-color: var(--main-bg-dark);
  color: white;
  opacity: .6;
}

.SubmissionBox.dark input[type="submit"] {
  background: var(--dark-button-bg-color);
  color: #000000;
}

.SubmissionBox {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid black;
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: var(--main-bg-highlight);
}

.SubmissionBox.dark {
  background-color: var(--main-bg-highlight-dark);
}

.SubmissionBox.light {
  background-color: var(--main-bg-highlight-light);
}

.SubmissionBox input[type="text"] {
  width: 95%; 
  border: none;
  border-top: 1px solid black;
}

.SubmissionBox input[type="submit"] {
  min-width: 100px;
  background-color: var(--main-button-bg);
  background: var(--main-button-grdnt);
  color: white;
  border-radius: 30px;
  border: none;
}

.SubmissionBox input {
  height: 25px;
  border-radius: 30px;
  margin: 0 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.listDelete {
  background: var(--main-button-grdnt);
}

.ui-button:hover {
  cursor: pointer;
}

.ListTitle {
  font-size: 40px;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 7px 0;
}

.ListTitle.dark {
  background-color: var(--main-bg-highlight-dark);
}

.ListTitle.light {
  background-color: var(--main-bg-highlight-light);
}

.ListTitle input[type="text"] {
  border: none;
  margin-left: 20px;
  width: 80%;
  text-align: center;
  background-color: var(--main-bg-highlight);
  font-size: 30px;
  font-weight: bold;
}

.ItemList {
  font-family: "Lucida Handwriting", cursive;
  padding: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ItemList::-webkit-scrollbar {
  display: none;
}

.ListItem {
  width: 75%;
  padding: 10px;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
}

.ListItem.dark {
  color: white;
  opacity: .6;
}

.ListItem.light {
  color: black;
  opacity: 1;
}

.ListItem:hover .listDeleteButton {
  opacity: 1;
}

.ListItem:hover .listDeleteButton:hover {
  cursor: pointer;
}

.ListItem:hover {
  position: relative;
  border: 1px solid #C0C0C0;
}

.listDeleteButton {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.done {
  text-decoration: line-through;
}

.ListItem:hover {
  cursor: pointer;
}

.listDeleteButton {
  text-align: center;
  border: none;
}

.help-container {
  height: 100vh;
  width: 100%;
}

.help-container.dark {
  background-color: var(--main-bg-dark);
}

.help-container.light {
  background-color: var(--main-bg-light);
}

.help-container.dark p {
  color: white;
  opacity: .6;
}

.help-text {
  margin: 32px 20px;
}

.view-mode-toggle {
 background-color: #FFFFFF;
}

.darkmode-toggle {
  background-color: #FFFFFF;
}

.dark .darkmode-toggle {
  background-color: var(--main-bg-dark);
}

.ui-button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: inline;
  padding: 7px;
  margin: 0 7px;
  line-height: 1;
}

.ui-button-container {
  display: flex;
  justify-content: flex-end;
}

.view-mode-toggle {
  opacity: .8;
}

.view-mode-toggle.light {
  background-color: #000000;
  color: #FFFFFF;
  opacity: 1;
}

.logout {
  background-color: #FFFFFF;
  opacity: 0.8;
}

@media only screen and (max-width: 425px) {
  
  .ui-button {
    width: 30px;
    height: 30px;
    font-size: .6em;
    line-height: 1.2;
  }
}
