.TodoList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: var(--main-bg);
  width: 95%;
}

.SubmissionBox {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid black;
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: var(--main-bg-highlight);
}

.SubmissionBox input[type="text"] {
  width: 70%; 
  border: none;
  border-top: 1px solid black;
}

.SubmissionBox input[type="submit"] {
  width: 20%;
  background-color: var(--main-button-bg);
  background: var(--main-button-grdnt);
  color: white;
  border-radius: 30px;
  border: none;
}

.SubmissionBox input {
  height: 25px;
  border-radius: 30px;
}

.listDelete {
  background: var(--main-button-grdnt);
  display: inline;
  position: absolute;
  right: 0;
  width: 30px;
  padding: 0 15px;
  margin: 0 15px;
  border-radius: 10px;
}

.listDelete:hover {
  cursor: pointer;
}

.ListTitle {
  font-size: 40px;
  display: inline;
  border-bottom: 1px solid black;
  background-color: var(--main-bg-highlight);
  width: 100%;
  text-align: center;
  padding: 25px 0;
}

.ItemList {
  font-family: "Lucida Handwriting", cursive;
  padding: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ListItem {
  width: 75%;
  margin: 10px;
}

.done {
  text-decoration: line-through;
}

.ListItem:hover {
  cursor: pointer;
}

