.TodoList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: var(--main-bg);
  width: 100%;
}

.SubmissionBox {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid black;
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: var(--main-bg-highlight);
}

.SubmissionBox input[type="text"] {
  width: 70%; 
  border: none;
  border-top: 1px solid black;
}

.SubmissionBox input[type="submit"] {
  width: 20%;
  background-color: var(--main-button-bg);
  background: var(--main-button-grdnt);
  color: white;
  border-radius: 30px;
  border: none;
}

.SubmissionBox input {
  height: 25px;
  border-radius: 30px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.listDelete {
  background: var(--main-button-grdnt);
  display: inline;
  width: 30px;
  padding: 0 15px;
  margin: 0 15px;
  border-radius: 10px;
}

.listDelete:hover {
  cursor: pointer;
}

.ListTitle {
  font-size: 40px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: var(--main-bg-highlight);
  width: 100%;
  padding: 25px 0;
}

.ListTitle input[type="text"] {
  border: none;
  margin-left: 20px;
  width: 95%;
  text-align: center;
  background-color: var(--main-bg-highlight);
  font-size: 30px;
  font-weight: bold;
}

.ItemList {
  font-family: "Lucida Handwriting", cursive;
  padding: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ListItem {
  width: 75%;
  padding: 10px;
  border: 1px solid var(--main-bg);
  display: flex;
  justify-content: space-between;
  transition: border 0.1s ease-in;
}

.ListItem:hover .listDeleteButton {
  opacity: 1;
}

.ListItem:hover .listDeleteButton:hover {
  cursor: pointer;
}

.ListItem:hover {
  border: 1px solid #C0C0C0;
}

.listDeleteButton {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.done {
  text-decoration: line-through;
}

.ListItem:hover {
  cursor: pointer;
}

.listDeleteButton {
  border: none;
}
