:root {
  --main-bg-light: #FCFCFC;
  --main-bg-dark: #121212;

  --dark-title-text: #9965F4;
  --dark-button-bg-color: #B794F6;

  --main-bg-highlight-light: #99E1D9;
  --main-bg-highlight-dark: #263238; /* #4A148C */

  --main-bg-sidebar: #344055;
  --main-button-bg: #E87EA1; 
  --main-button-grdnt: linear-gradient(0deg, rgba(190,112,170,1) 0%, rgba(255,142,179,1) 100%); 
  --list-icon-size: 50px;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.TodoList {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

